
<%= render "layouts/banner_home" %>

<%= render 'layouts/booking' %>


<section class="Categories pt80 pb60">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-8">
        <p class="subtitle text-secondary nopadding">MOST POPULAR CITIES</p>
        <h1 class="paddtop1 font-weight lspace-sm">Popular Destination</h1>
      </div>
      <div class="col-md-4 d-lg-flex align-items-center justify-content-end"><a href="" class="blist text-sm ml-2"> See
          all cities<i class="fas fa-angle-double-right ml-2"></i></a></div>
    </div>
    <div class="row">
      <%= render 'layouts/popular_destinations' %>
      <div class="col-md-6">
        <div class="row">
          <%= render 'layouts/popular_destinations' %>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- =======================
	about us  -->
<section class="grayBG pt80 pb80">
  <div class="container ">
    <div class="row">
      <div class="col-md-8 mx-auto text-center mb-5">
        <h2 class="title text-center">Our Services</h2>
        <p>Sorem ipsum dolor sit amet, consectetur adipisicing Suscipit votas aperiam Sorem ipsum dolor consectur
          adipisicing elit.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="feature-box h-100 text-center px-4 py-5">
          <div class="feature-box-icon"><img class="w-25" src="images/tour/check-mark.svg" alt=""></div>
          <h3 class="feature-box-title">Hotel Booking</h3>
          <p class="feature-box-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean condimentum, eros
            eu tristique dictum, neque lorem laoreet purus</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature-box h-100 text-center all-text-white bg-grad px-4 py-5 border-radius-3">
          <div class="feature-box-icon"><img class="w-25" src="images/tour/editor.svg" alt=""></div>
          <h3 class="feature-box-title">Ticket Booking</h3>
          <p class="feature-box-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean condimentum, eros
            eu tristique dictum, neque lorem laoreet</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature-box h-100 text-center px-4 py-5">
          <div class="feature-box-icon"><img class="w-25" src="images/tour/envelope.svg" alt=""></div>
          <h3 class="feature-box-title">Amazing Tour</h3>
          <p class="feature-box-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean condimentum, eros
            eu tristique dictum, neque lorem laoreet </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- =======================
	about us  -->

<section class="Categories pt80 pb60">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-8">
        <p class="subtitle text-secondary nopadding">Stay and eat like a local</p>
        <h1 class="paddtop1 font-weight lspace-sm">Featured Tours</h1>
      </div>
      <div class="col-md-4 d-lg-flex align-items-center justify-content-end"><a href="" class="blist text-sm ml-2"> See
          all Tours<i class="fas fa-angle-double-right ml-2"></i></a></div>
    </div>
    <div class="row">
      <div class="swiper-container guides-slider-home-cruises">
        <!-- Additional required wrapper-->
        <div class="swiper-wrapper">
          <!-- Slides-->

          <div class="row">
            <div class="swiper-container guides-slider-popular">
              <!-- Additional required wrapper-->
              <div class="swiper-wrapper">
                <!-- Slides-->

                <%= render 'layouts/featured_tours' %>

                <div class="swiper-pagination d-md-none"> </div>
              </div>
            </div>
          </div>

      </div>
      <div class="swiper-pagination d-md-none"> </div>
    </div>
  </div>
  </div>
</section>

<!-- =======================
	service  -->
<section class="bg-light pt80 pb60 solutions">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto text-center mb-5">
        <h2 class="title text-center">Why Choose Us</h2>
        <p>Sorem ipsum dolor sit amet, consectetur adipisicing Suscipit votas aperiam Sorem ipsum dolor consectur
          adipisicing elit.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-lg-3 mb-4 mb-lg-0">
        <div class="shadow-hover h-100 bg-white px-5 pt-0 pb-5 text-center up-on-hover"> <span
            class="alt-font text-light-gray display-2 font-italic opacity-2">01</span> <span class="d-block mb-4"><i
              class="fas fa-road display-2 text-grad"></i></span> <a class="h5" href="#">Rail Booking</a> </div>
      </div>
      <div class="col-sm-6 col-lg-3 mb-4 mb-lg-0">
        <div class="shadow-hover h-100 bg-white px-5 pt-0 pb-5 text-center up-on-hover"> <span
            class="alt-font text-light-gray display-2 font-italic opacity-2">02</span> <span class="d-block mb-4"><i
              class="fas fa-utensils display-2 text-grad"></i></span> <a class="h5" href="#">Hotel Booking</a> </div>
      </div>
      <div class="col-sm-6 col-lg-3 mb-4 mb-lg-0">
        <div class="shadow-hover h-100 bg-white px-5 pt-0 pb-5 text-center up-on-hover"> <span
            class="alt-font text-light-gray display-2 font-italic opacity-2">03</span> <span class="d-block mb-4"><i
              class="fas fa-ticket-alt display-2 text-grad"></i></span> <a class="h5" href="#">Ticket Booking</a> </div>
      </div>
      <div class="col-sm-6 col-lg-3 mb-4 mb-lg-0">
        <div class="shadow-hover h-100 bg-white px-5 pt-0 pb-5 text-center up-on-hover"> <span
            class="alt-font text-light-gray display-2 font-italic opacity-2">04</span> <span class="d-block mb-4"><i
              class="fas fa-child display-2 text-grad"></i></span> <a class="h5" href="#">Amazing Tour</a> </div>
      </div>
    </div>
  </div>
</section>
<!-- =======================
	service  -->

<section class="Categories pt80 pb60 TourHotels">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-8">
        <p class="subtitle text-secondary nopadding">Sorem ipsum dolor sit amet</p>
        <h1 class="paddtop1 font-weight lspace-sm">You may also like Most Popular Hotels</h1>
      </div>
      <div class="col-md-4 d-lg-flex align-items-center justify-content-end"><a href="" class="blist text-sm ml-2"> See
          all Hotels<i class="fas fa-angle-double-right ml-2"></i></a></div>
    </div>
    <div class="row">
      <div class="swiper-container guides-slider-popular">
        <!-- Additional required wrapper-->
        <div class="swiper-wrapper">
          <!-- Slides-->

          <%= render 'layouts/popular_listings'%>

          <div class="swiper-pagination d-md-none"> </div>
        </div>
      </div>
    </div>
  </div>
</section>